* {
	margin: 0;
	padding: 0;	
}
html {
	height: 100%;
}
body {
	font-family: Roboto, sans-serif;	
	font-size: 100%;
	min-height: 100%;
	background: linear-gradient(rgba(245,245,245,0.67),rgba(245,245,245,0.67)),
				url("/static/Dwelling%20Place%20logo.jpg") bottom right/30% no-repeat;
}
h1 {
	color: white;
	text-align: right;
	background: rgb(136, 24, 26);
	padding: 0.25em;
}
h2 {
	color: white;
	background-color: black;
	padding: 0 0.25em;
	font-size: 1em;
}
section {
	padding: 1em;
}
label {
	vertical-align: top;
}
select {
	margin-right: 1em;
}
a.button {
	display: inline-block;
	text-decoration: none;
}
button, a.button {
	vertical-align: top;
	width: 120px;
	box-sizing: border-box;
	text-align: center;
	border: none;
	outline: none;
	user-select: none;
	cursor: pointer;
	color: #318830;
	background-color: green;
	font-weight: 700;
	font-size: 0.8em;
	border-radius: 6px;
/*	box-shadow: 4px 4px 5px #444;*/
	padding: 8px 16px;
	opacity: 0.75;
}
button:hover, a.button:hover {
	opacity: 1;
}
button:disabled, a.button:disabled, button:hover:disabled, a.button:hover:disabled {
	opacity: 0.5 ;
}
button i {
	padding-right: 8px;
}
div.messages {
    margin: 0.5em 0;
}

div.message-upload-fail, div.message-upload-success {
    border: 2px solid black;
    color: rgba(14,16,15,1);
    font-weight: 700;
    padding: 0.25em 0.5em 0.25em 0.5em;
    text-align: center;
    width: 100%;
}

div.message-upload-fail {
    background-color: #FFDDDD;
}

div.message-upload-success {
    background-color: #DDFFDD;
}
