{% extends "layout.html" %}

{% block title %}{% endblock %}

{% block body %}

	<h1>Dwelling Place Data Analysis</h1>

    <h2>Upload Excel Data</h2>
    <section>
        <form action="{{ url_for('index.upload') }}" method="POST" enctype="multipart/form-data">
            <button id="upload" type="submit" disabled><i class="fa fa-upload fa-lg"></i>Upload</button>
            <input type="file" name="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" required onchange="upload.disabled = false;"/>
        </form>
		{% with messages = get_flashed_messages(with_categories=true) %}
		    {% if messages %}
		        <div class="messages" id="message-wrapper">
		            {% for category, message in messages %}
		                <div class="{{ category }}">{{ message }}</div>
		            {% endfor %}
		        </div>
		    {% endif %}
		{% endwith %}

    </section>

    <h2>Retrieve and Download Excel Data</h2>
    <section>
        <form name="download" action="{{ url_for('index.download') }}" method="POST">
			<input type="hidden" name="format" value="xlsx"/>
            <button type="submit"><i class="fa fa-download fa-lg"></i>Download</button>
            <label for="sheets">Sheets:</label>
            <select name="sheets" multiple>
                {% for s in structure %}
                    <option selected>{{ s }}</option>
                {% endfor %}
            </select>
            <label for="months">Months:</label>
            <select name="months" multiple>
                {% for m in months %}
                    <option selected>{{ '{:%b %Y}'.format(m) }}</option>
                {% endfor %}
            </select>
        </form>
    </section>

    <h2>Analyze Data with Business Intelligence</h2>
    <section>
    	<a href="https://app.powerbi.com/" target="_blank" class="button">Analyze</a>
    </section>
    
    <h2>Real Estate Development</h2>
    <section>
    	<a href="/red" target="_blank" class="button"><i class="fa fa-map fa-lg"></i>View Map</a>
    </section>

{% endblock%}
